<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Document</title>
</head>
<body><center>
    <h1>display of webpage data </h1>

    <table border="3px"> 
    <tr>
        <th>
            topic_name
        </th>
        <th>name</th>
        <th>url</th>
    </tr>
    {%for j in webs %}
    <tr>
        <td>{{j.topic_name}}</td>
        <td>{{j.name}}</td>
        <td>{{j.url}}</td>
    </tr>

    {% endfor %}

    </table>

</body>
</html>