<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body><center>
    <h1>display of accesrecord data </h1>
    <table border="3px">
        <tr>
            <th>name</th>
            <th>author</th>
            <th>email</th>
        </tr>
    {%for k in aecs %}
        <tr>
            <td>{{k.name}}</td>
            <td>{{k.author}}</td>
            <td>{{k.email}}</td>
        </tr>
    {%endfor%}


    </table>
</body>
</html>